rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() {
      return request.auth != null;
    }

    function userDoc() {
      return firestore.get(/databases/(default)/documents/users/$(request.auth.uid));
    }

    function isProfessor() {
      return signedIn() && userDoc().data.role == "professor";
    }

    match /submissions/{assignment}/{studentNumber}/{fileName} {
      allow read: if isProfessor() || (signedIn() && userDoc().data.student_number == studentNumber);
      allow write: if signedIn() && userDoc().data.student_number == studentNumber;
    }
  }
}
